* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}




.wrapper {
    width: 800px;
    height: 600px;
    background-color: rgb(12, 145, 233);
    margin: 0 auto;
    border: 1px solid black;

}

header {
    background-color: rgb(3, 240, 248);
    max-height: 70px;
    border: 1px solid black;
    padding-left: 10px;
}

.writer_initials {
    background-color:rgb(12, 145, 233);
    width: 150px;
    min-height: 530px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.stripe {
    width: 1px;
    height: 520px;
    background-color: rgb(12, 1, 1);
    border: 1px solid black;
    float: left;
    margin-top: 10px;
    

}

.rounded {
    width: 60px;
    height: 60px;
    background-color: rgb(3, 240, 248);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}

.dates {
    display: inline-block;
    padding-top: 5px;
}
.initial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    
}


.messages {
    background-color: rgb(12, 145, 233);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 530px;
    overflow-y: scroll;
}


.messages span:first-child {
    padding-top: 15px;
}


.writers {
    margin-left: 20px;
    margin-bottom: 5px; 
}

.letter {
    background-color: rgb(169, 245, 28);
    width: 600px;
    min-height: 90px;
    margin-left:20px;
    margin-bottom: 20px;
    border:1px solid black;
}

